<% content_for :page_title, 'Team Members' %>
<% content_for :subject_block do %>
  <h1>Your Team</h1>
<% end %>

<div class="text-box-wrapper solo">
  <div class="text-box">
    <h4>Members <span>- Your next charge will be on August 29th, 2014 for an estimated $267.00</span></h4>

    <ul class="members">
      <li class="admin">Chad Pytel <%= link_to "✖", "#", data: { confirm: "Are you sure you want to remove this user from your team? They will lose access to all the content that have as part of the team." } %></li>
      <li>Ben Orenstein <%= link_to "✖", "#", data: { confirm: "Are you sure you want to remove this user from your team? They will lose access to all the content that have as part of the team." } %></li>
      <li>Joe Ferris <%= link_to "✖", "#", data: { confirm: "Are you sure you want to remove this user from your team? They will lose access to all the content that have as part of the team." } %></li>
    </ul>

    <h4>Pending Invitations</h4>

    <ul class="members">
      <li class="pending">corwin@thoughtbot.com <%= link_to "✖", "#", data: { confirm: "Are you sure you want to remove this invitation? The user will not be able to join." } %></li>
      <li class="pending">dan@thoughtbot.com <%= link_to "✖", "#", data: { confirm: "Are you sure you want to remove this user from your team? The user will not be able to join." } %></li>
    </ul>

    <% if @team.has_users_remaining? %>
      <div class="invite-members">
        <p>Invite a new team member.</p>
        <%= render 'invitations/form', invitation: Invitation.new %>
      </div>
    <% else %>
      <p>You're out of invitations right now, but that's easy to fix. <%= mail_to ENV["SUPPORT_EMAIL"], "Send us a short email" %> and we'll take care of you.</p>
    <% end %>
  </div>
</div>
